nodered/flows.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e084ed51b69e2634",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": 8086,
    "protocol": "http",
    "database": "database",
    "name": "influxdb",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "timeout": 10,
    "rejectUnauthorized": true
  },
  {
    "id": "4c3f7d7a3bb81a8b",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 240,
    "wires": [["aec530f1430e25f1"]]
  },
  {
    "id": "aec530f1430e25f1",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "dev1:8000",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 370,
    "y": 240,
    "wires": [["57ce2001d3935a4f", "81611e2cf8f0f286", "f4624f7d7a553e7f"]]
  },
  {
    "id": "57ce2001d3935a4f",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 240,
    "wires": []
  },
  {
    "id": "642c4e911755d3d4",
    "type": "influxdb out",
    "z": "f6f2187d.f17ca8",
    "influxdb": "e084ed51b69e2634",
    "name": "influxdb",
    "measurement": "data",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "mtc",
    "bucket": "mtcbucket",
    "x": 740,
    "y": 380,
    "wires": []
  },
  {
    "id": "81611e2cf8f0f286",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 1",
    "func": "msg.payload = [\n    [{\n        temp: msg.payload.data.temp,\n    },\n    {\n        device: msg.payload.data.device,\n        name: msg.payload.data.name\n    }],\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 380,
    "wires": [["642c4e911755d3d4", "57ce2001d3935a4f"]]
  },
  {
    "id": "f4624f7d7a553e7f",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 2",
    "func": "msg.payload = [\n    {\n        \"device\": msg.payload.data.device,\n        \"container\": msg.payload.data.container,\n        \"temperature\": msg.payload.data.temp\n    }\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 120,
    "wires": [["a4bc7ac62b4dd61d", "57ce2001d3935a4f"]]
  },
  {
    "id": "a4bc7ac62b4dd61d",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://postgrest:3000/temperature_data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 730,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "c8e8b5e17b6cc0e0",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    }
  }
]
